<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern> %d{HH:mm:ss.SSS} %X{requestId} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ruzhen-application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/taiping-application-%d{yyyyMMdd}.log.%i.gz</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>6</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\%X{requestId}\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_ERROR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ruzhen-application-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/taiping-application-error%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\%X{requestId}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_LOGGER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ruzhen-logger.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/taiping-logger-%d{yyyyMMdd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss.SSS}\tthread:%thread\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.ruzhen">
        <level value="debug" />
        <appender-ref ref="APPLICATION_LOGGER_FILE" />
    </logger>

    <logger name="jdbc.sqltiming">
        <level value="debug" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </root>
</configuration>