<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--基于注解的自动装配 开关开启（半自动）-->
    <context:annotation-config></context:annotation-config>

    <!-- 自动定义和装配 全自动 -->
    <context:component-scan base-package="core"/>

    <bean id="helloworld" class="core.Spring.beans.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
    </bean>
    <!-- ApplicationContext 会自动检测由 BeanPostProcessor 接口的实现定义的 bean，注册这些 bean 为后置处理器-->
    <bean class="core.Spring.beans.InitHelloWorld"/>

    <bean id="cStartEventHandler" class="core.Spring.beans.CStartEventHandler"/>
    <bean id="cStopEventHandler" class="core.Spring.beans.CStopEventHandler"/>
    <bean id="student" class="core.Spring.aop.Student">
        <property name="name" value="Zara"/>
        <property name="age"  value="11"/>
    </bean>


    <!-- Spring AOP-->
    <!-- 定义一个切面-->
    <aop:config>
        <aop:aspect id="log" ref="logging">
            <!-- 声明一个切点-->
            <aop:pointcut id="selectAll" expression="execution(* core.Spring.beans.aop.*.*(..))"/>
            <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
            <aop:after-returning pointcut-ref="selectAll"  returning="retVal" method="afterReturningAdvice"/>
        </aop:aspect>
    </aop:config>

    <aop:config>
        <aop:aspect id="log2" ref="logging">
            <!-- 声明一个切点-->
            <aop:pointcut id="selectOne" expression="execution(* core.Spring.beans.aop.*.*(..))"/>
            <aop:after pointcut-ref="selectOne" method="beforeAdvice"/>
            <aop:after-throwing pointcut-ref="selectOne" throwing="ex" method="AfterThrowingAdvice"/>
        </aop:aspect>
    </aop:config>

    <bean id="logging" class="core.Spring.aop.Logging"/>


</beans>