<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <!--配置SpringMvc-->
        <!--0：开启SpringMVC注解模式-->
        <!--简化配置：-->
        <mvc:annotation-driven/>
        <mvc:default-servlet-handler/>
        <!--1:配置jsp显示ViewResolver-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
            <property name="prefix" value="/WEB-INF/views/"/>
            <property name="suffix" value=".jsp"/>
        </bean>

        <!--2：扫描web相关的bean-->
        <context:component-scan base-package="com.ruzhen.controller"/>

        <!--3:设置资源文件路径-->
        <mvc:resources mapping="/statics/**" location="WEB-INF/statics/"/>
        <!--4:配置SimpleMappingExceptionResolver-->
        <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
            <property name="exceptionMappings">
                <map>
                    <entry key="ResourceNotFoundException" value="common/error/resourceNotFoundError"/>
                    <entry key="DataAccessException" value="common/error/dataAccessError"/>
                </map>
            </property>
            <property name="statusCodes">
                <map>
                    <entry key="common/error/resourceNotFoundError" value="404"/>
                    <entry key="common/error/dataAccessError" value="500"/>
                </map>
            </property>
        </bean>
</beans>
